---
import { ExampleControls, type ExampleData } from "./ExampleControls/index.js";
import ExampleRenderer from "./ExampleRenderer.astro";
const { example } = Astro.props;

interface Props {
  example: ExampleData;
}
---

<div class="example-preview">
    <h2>{example.name}</h2>
    <p>{example.description}</p>

    <div class="ds example-renderer">
        <div class="ds example-renderer__wrapper">
            <div class="ds example-renderer__content">
                <ExampleRenderer example={example}/>
            </div>
        </div>
    </div>
    <div class="ds example-controls-wrapper">
        <ExampleControls client:load example={example}/>
    </div>
</div>

<style>
    .ds.example-preview {
        border: 1px solid #ccc;
        padding: 15px;
    }

    /** Isolate the styles for the example renderer */
    .ds.example-renderer {
        all: initial;
        isolation: isolate;
    }

    /* Add some padding and a border to the example renderer */
    .ds.example-renderer__wrapper {
        margin-bottom: 10px;
        border: 1px solid lightblue;
        padding: 10px;
    }

    .ds.example-controls-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: var(--color-palette-black);
        padding: var(--spacing-input-padding-vertical)
    }
</style>

<script>
  import {ExampleControlStateChangeEventContext} from "./ExampleControls";

  document.addEventListener('example-style-changed', ($event: Event) => {
    const exampleDisplay = document.querySelector('.example-renderer__content') as HTMLElement;
    const event = $event as CustomEvent<ExampleControlStateChangeEventContext>;

    // Clear old styles
    for (const key in exampleDisplay.style) {
      exampleDisplay.style.removeProperty(key);
    }

    // Apply new styles
    const entries = Object.entries(event.detail.styles);
    for (const [key, value] of entries) {
      exampleDisplay.style.setProperty(key, value);
    }
  });
</script>